.sidebar-nav {
	padding: 9px 0;
}

.clear {
	clear: both;
}

.hero-unit {
  padding: 20px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  color: inherit;
  background-color: #eeeeee;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.hero-blue {
    background-color: #ddeffa;
}
.hero-green {
    background-color: #ddfadd;
}

.hero-bg {
	background-image: url("../images/banner.jpg");
	background-size: cover;
}
.banner-shadow{
	background-color: rgba(255,255,255,0.6);
}
.home-logo{
	margin-top: .8em;
	margin-bottom: 2.5em;
}

.show-grid [class*="span"] {
  padding: 10px 20px 20px;
  margin-bottom:10px;
  background-color: #eee;
  text-align: center;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.formRow{
  margin-left:25px;
}